#grid {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  grid-template-rows: repeat(6, 2rem);
}

#grid [data-color="red"] {
  background-color: red;
}

#grid [data-color="yellow"] {
  background-color: yellow;
}

#turn[data-color="yellow"] {
  color: yellow;
}

#turn[data-color="red"] {
  color: red;
}

#move-type {
  margin-block: 1em;
}
